:root {
  --gray: #f1f3f5;
  --light-gray: #dee2e6;

  --blue: #81b2fd;
  --orange: #fda65e;

  --primary-color: #212529;
  --secondary-color: #6c757d;

  --primary-background-color: #dfdbe5;
  --secondary-background-color: #f8f9fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  background-image: url('../../assets/floating-cogs.svg');

  & p {
    font-size: 1.1em;
  }
}

h1 {
  text-align: center;
}

h2 {
  color: var(--secondary-color);
  font-size: 1.8em;
  margin-top: 30px;
}

main {
  max-width: 50%;
  margin: 0 auto;
  background-color: var(--secondary-background-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div#updates {
  display: flex;
  flex-direction: column;

  & article {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & h3.version-date {
      margin: 0;
      background-color: var(--secondary-background-color);
      border-bottom: 2px solid var(--secondary-color);
      padding: 5px 10px;
      font-size: 1.1em;
    }

    & .card {
      background-color: var(--gray);
      border-left: 4px solid var(--blue);
      padding: 15px;
      border-radius: 4px;

      &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.01);
        transition:
          transform 0.2s ease,
          box-shadow 0.2s ease;
      }
    }

    & .card:nth-of-type(even) {
      border-color: var(--orange);
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--light-gray);
  margin: 30px 0;
}
